html {
  font-size: 20px;
}
@media (min-width: 400px) {
  html {
    font-size: 30px;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 40px;
  }
}

nav {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #a7358c;
}
.left a img {
  height: 5vh;
}

nav a {
  font-size: 1em;
  padding: 0 0.5em;
}

.hero {
  color: #eee;
}

.fakebutton {
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
}

h2.subHeading {
  color: rgba(0, 0, 0, 0.85);
  padding: 0;
  margin: 0;
}
.orange h2.subHeading {
  color: rgba(255, 255, 255, 0.85);
}

/* ARTICLES */
.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  padding: 0;
  max-width: 100%;
}
.secondary {
  padding: 1em 0.5em;
}
.tertiary {
  padding: 1em 0;
}
.tertiary h2 {
  padding: 0 0.5em;
}
.yellow {
  background: #f9b222;
}
.orange {
  background: #ed6b4b;
}
.articles li {
  display: block;
  padding: 1em;
  height: 3em;
  color: #333;
  background: #74529e;

  border-radius: 5px;

  box-shadow: 5px 5px 20px #33333338;
  transition: all 0.3s ease-in-out;
}

.articles li:hover {
  box-shadow: 15px 15px 20px #33333338;
  transform: translate3d(-1px, -2px, 0px);
  cursor: pointer;
}

.articles li a {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1em;
}

section.main {
  background: #a7358c;
}

nav a {
  color: #eee;
}

ul.events {
  list-style-type: none;
  line-height: 0.9;

  margin: 0;

  text-transform: uppercase;
  font-weight: 700;

  margin: 0;
  padding: 0;
}

ul.events li {
  padding: 3em 0;
  text-align: justify;
  word-break: break-all;
}
ul.events li:nth-child(even) {
  /* background: rgba(0, 0, 0, 0.75); */
  background: #74529ed0;
}

ul.events li a {
  color: rgba(255, 255, 255, 0.95);
  font-size: 2em;
}

.eventDate {
  text-align: right;
}

.navButton {
  display: block;
  padding: 0.5em;
  border: 1px solid #f9b222;
  box-shadow: 0 0 5px #f9b222;
  border-radius: 1em;
  font-weight: 500;
  text-align: center;

  transition: 0.3s all ease-in-out;
}

.navButton:hover {
  box-shadow: 0 0 25px #f9b222;
  cursor: pointer;
}
